/*Header*/
.nav{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
}

.navbar{
    margin-top: auto;
    text-align: center;
    border-style: solid;
    border-width: 3px 0px;
    border-color:#662D91;
    background-color: white;
    vertical-align: middle;
}
.logo{
    width: 35px;
    padding: 35px;
    text-align: left;
    vertical-align: middle;
}

/*text*/
.h2{
    font-family: 'Georgia', 'times', 'serif';
    font-size: 2em;
}

.p{
    font-family: 'Catamaran', 'sans-serif';
    font-size: 1.5rem;
    text-align: left;
}

/*main page*/
.heroImg{
    height: 600px;
    padding:10px;
    grid-area: heroImage;
}

.item2 {grid-area: heroText;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    font-family: 'Roboto Slab', 'slab-serif';
    color: white;
    background-color: #662D91;
    height: 80px;
    width:fit-content;
    text-decoration: none;
    padding: 10px;
    margin: 20px;
    grid-area: download;
}

.homeContent {
  display: grid;
  grid-template-areas:
    'heroImage heroText'
    'heroImage heroText'
    'heroImage download';
  gap: 30px;
  padding: 30px;
}

.homeContent > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}


/*navbar item*/
.navItem{
    display: inline-block;
    vertical-align: top;
    color:#662D91;
    font-family: 'Roboto Slab', 'slab-serif';
    font-size: 1.4em;
    padding-left: 10px;
    padding-right: 10px;
}

.navItem:hover, .navItem:focus{
    color:#00a79d;
}

.title{
    font-family: 'Roboto Slab', 'slab-serif';
    font-size: 3em;
    padding-top: 1%;
    text-align: center;
}

.image{
    width:100%;
    height:auto;
    padding: 10px;
}



a:link{
    text-decoration: none;
}

/*dropdown*/
.dropbtn{
    background-color: white;
    color: #662D91;
    display: inline-block;
    vertical-align: center;
    font-family: 'Roboto Slab', 'slab-serif';
    font-size: 1.4em;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus{
    color:#00a79d;
}

.dropdown {
    position:relative;
    display:inline-block;
}

.dropdown-content {
    display: none;
    grid-template-rows: auto;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color:#662D91;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Roboto Slab', 'slab-serif';
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: #00a79d;
}

.show {display:block;}





/*footer*/
footer{
    color: white;
    background-color: black;
}
.footnav{
    vertical-align: middle;
    color: white;
    text-align: center;
    padding: 20px;
}
.footnavitem{
    display: inline-block;
    vertical-align: top;
    color:white;
    font-family: 'Roboto Slab', 'slab-serif';
    font-size: 1.4em;
    padding-left: 10px;
    padding-right: 10px;
}
.pf{
    font-family:'Georgia', 'Times', 'Serif';
    font-size: 1.4em;
}

/*Mobile Query*/
@media only screen and (max-width: 600){
    .main{
        display: flex;
        flex-direction: column;
        margin-right: 1%;
        margin-left:1%;
        margin-bottom: 5%;
    }
    .flexBox{
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 1.5em;
    }
}